<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css">
        <!-- don't use public/app.css. public/ has already been served -->
        <!-- use /app.css instead of app.css, adding the slash says look for css not in the same directory that you're in right now -->
        <!-- but in the root directory -->
    </head>
    <body>