body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%; /*using this will set the height for the squares*/
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    /* border-radius gives the squares rounded corners */
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    /* the 2 lines above is used to make sure that the transition can be applied to all browsers */
}

#container {
    max-width: 600px;
    margin: 20px auto; /*auto on left and right centralizes the container*/
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0; /*padding-top and padding-bottom = 20px, padding-left and padding-right = 0*/

}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background-color: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 200%;
    /* 200% of the h1 font-size */
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight:700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    /* 1st argument: what we wanna transition */
    /* 2nd argument: how long we want it to take */
    outline: none;
    /* disable the outline provided by the browser */
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background-color: steelblue;
}