<!-- include header template -->
<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>This is the home page!</h1>
<img src="https://i.pximg.net/img-master/img/2017/09/02/15/57/33/64749336_p0_master1200.jpg">

<!-- include footer template -->
<% include partials/footer %>