<h1>Friends List Goes Here!</h1>

<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" name="newfriend" placeholder="name">
    <!-- the name we give the input will be the key that we look it up by inside of the route -->
    <button>I made a new friend!</button>
</form>