<h1>This is the secret page!</h1>
<p>You found me!</p>

<img src="http://imgsrc.baidu.com/forum/pic/item/5fc76239b6003af339ddc6b23e2ac65c1138b695.jpg">

<li><a href="/login">Login!</a></li>

<li><a href="/register">Sign Up!</a></li>

<li><a href="/logout">Log out!</a></li>